@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:wght@900&family=Roboto:wght@400;800&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: lightyellow;
}

h1{
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    text-decoration: underline;
    color: gray;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
 }

 h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
} 

.navbar-brand img { width: 32px;}